.stays-list-container {
    height: 90%;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(3, 30%);
    column-gap: 5%;
    row-gap: 5%;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(5, 50%);
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    "footer footer footer";
}

.stay-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.stay-photo {
    height: 80%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    transition: .4s;
}

.stay-photo:hover {
    transform: scale(1.1);
}

.stay-subtitle-box {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stay-subtitle-box-left {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
}

.super-host-label {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 0 2%;
    color: #4F4F4F;
    border: 1px solid #4F4F4F;
}

.super-host-label.off {
    display: none;
}

.stay-type {
    font-size: .8rem;
    color: #828282;
}

.stay-subtitle-box-right {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
}

.star-icon {
    height: 50%;
}

.stay-rating {
    font-size: .8rem;
    color: #4F4F4F;
}

.stay-title {
    margin: 0;
    font-weight: 600;
    font-size: .9rem;
}

.footer {
    grid-area: footer;
    height: 10vh;
    color: #828282;
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    padding: 2vh;
}